#clock-container{
    height: 45vw;
    width: 45vw;
    margin: auto;
    background: url('clock.png') no-repeat;
    background-size: 100%;
    position: relative;
}

#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 2%;
    height: 30%;
    top: 20%;
    left: 49%;
} 

#minute{
    width: 1.5%;
    height: 35%;
    top: 15%;
    left: 49.25%;
} 

#second{
    width: 1%;
    height: 40%;
    top: 10%;
    left: 49.5%;
}